html{
    font-size: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#main_box{
    width: 100%;
    height: 100%;
    background-color: rgba(46, 57, 68, 0.8);
    position: relative;
}
/* 轮播图 */
/* #main_box>.container>.banner,#main_box>.container>.banner>ul>li{
    position: absolute; 

} */
#main_box>.container>.banner{
    margin: 0 40px;
    overflow: hidden;
}
#main_box>.container>.banner>ul{
    margin-top: 20px;
    /* width: 2120px; */
    
}
#main_box>.container>.banner>ul>li{
    float: left;
    border: 2px solid #ccc;
    width: 1060px;
}
#main_box>.container>.banner>ul>li>div{
    float: left;
}
#main_box>.container>.banner>ul>li>div.banner_right>.info{
    font: 28px/40px "";
    color: rgb(226, 224, 224);
    padding: 5px 20px 5px 20px;
    word-wrap:break-word;
    width: 430px;
}
#main_box>.container>.banner>ul>li>div.banner_right>.right_img{
    /* float: left; */
    /* display: inline-block; */
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}
#main_box>.container>.banner>ul>li>div.banner_right>.right_img>div{
    margin-left: 20px;
    margin-top: 20px;
    opacity: .8;
}
#main_box>.container>.banner>ul>li>div.banner_right>.right_img>div:hover{
    opacity: 1;
}
#main_box>.container>.banner>ul>li>div.banner_right>.right_img>div{
    background-size: cover;
    background-position: center center;
    width: 162px;
    height: 69px;

}
#main_box>.container>.banner>ul>li>div.banner_right>.right_text{
    color: rgb(226, 224, 224);
    font: 20px/20px "";
    margin: 20px 0 0 20px;
}
/* 按钮 */
.btn_box{
    position:absolute;
    top:210px;
    display:flex;
    justify-content: space-between;
    width:1170px;
    left: 0;
}
.left,.right{
    width: 55px;
    height: 80px;
    color:#fff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    cursor: pointer;
}
.left:hover,.right:hover{
    background: rgba(0, 0, 0);
}
/* logo */
#main_box>.container{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
}
#main_box>.container>.head>.logo{
    padding: 10px 0 10px 10px;
    border-bottom: 2px solid #ccc;
}
#main_box>.container>.head>.logo>a>img{
    width: 176px;
    height: 44px;
}


/* 导航栏 */
#main_box>.nav{
    position: absolute;
    top: 0;
    left: -200px;
    /* margin-left: -200px; */
    transition: all 0.8s linear;
}
#main_box>.nav,#main_box>.nav>.sidebar{
    height: 100%;
    float: left;
    width: 200px;
    background-color: rgba(0,0,0,0.5);

}
#main_box>.right_run{
    /* transform: translateX(200px); */
    left: 0px;
}
.scroe{
    transform: rotate(450deg);
}
/* .left_run{
    transform: translateX(-200px);
} */
/* 头像 */
#main_box>.nav>.sidebar>.human{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
#main_box>.nav>.sidebar>.human>.human_logo{
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin: 10px auto 10px;
    background-color: #333;
}
#main_box>.nav>.sidebar>.human>a{
    color: #ccc;
    display: block;
    text-align: center;
}
/* 主体导航栏 */
/* #main_box>.nav>.sidebar>.option>ul{

}
#main_box>.nav>.sidebar>.option>ul>li{

} */
#main_box>.nav>.sidebar>.option>ul>li>a{
    color: #ccc;
    font: 16px/60px "";
    display: block;
    text-align: center;
    margin: 0 15px;
    border-bottom: 1px solid rgb(230, 229, 229);
    box-sizing: border-box;
}
#main_box>.nav>.sidebar>.option>ul>li:hover{
    background-color: rgb(230, 229, 229);
}
#main_box>.nav>.sidebar>.option>ul>li>a:hover{

    color: black;
    text-decoration:none;
    font-weight: 700;
}
/* 导航栏的button按钮 */
#main_box>.nav>button{
    float: left;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../imgs/button.png) no-repeat 100%;
    border: 0;
    cursor: pointer;
    outline: none;
    margin: 10px 0 0 10px;
    transition: all 0.8s linear;
}

























